*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

nav{
    background: #657d94;
    height: 80px;
    width: 100%;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, hsla(180, 1%, 64%, 0.459), hsla(180, 1%, 31%, 0.459)), url(../Portadaenca.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right,hsla(180, 1%, 64%, 0.459),   hsla(180, 2%, 22%, 0.459)), url(../Portadaenca.jpg);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 67px;
    margin-left: 15px;
}


nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}

nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 5px 5px;
}
nav ul li a{
    color: rgb(250, 248, 252);
    font-size: 13px;
    padding: 8px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 450;
}
li a.active, li a:hover{
    background: #306580;
    transition: .5s;
}
 

nav li>ul{
    display:none;
    }

nav li:hover>ul{
    display:block;
    position:absolute;
    top:85px;
    left:500px;
    background-color: #5680b1;
}

.checkbtn{
    font-size: 30px;
    color: rgb(255, 253, 253);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

section{
    width: 100%;
    height: 675px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,  hsla(180, 1%, 64%, 0.459), hsla(180, 1%, 31%, 0.459)), url(../Portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(180, 1%, 64%, 0.459),  hsla(206, 4%, 32%, 0.459)), url(../Portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center center;
    height: calc(100vh - 80px);
    
}

@media (max-width: 952px){
    .enlace{
        padding: 20px;
    }
    nav ul li a{
        font-size: 14px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 92vh;
         /* fallback for old browsers */
         background: -webkit-linear-gradient(to right, hsla(180, 1%, 64%, 0.459), hsla(180, 1%, 31%, 0.459)), url(../Portadaenca.jpg);
         /* Chrome 10-25, Safari 5.1-6 */
         background: linear-gradient(to right,hsla(180, 1%, 64%, 0.459),   hsla(180, 2%, 22%, 0.459)), url(../Portadaenca.jpg);
         /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul ul{
        position: absolute;
        width: 35%;
        height: 79vh;
        margin-right: auto;
        background: #202020;
        text-align: center;
        transition: all .5s;
    }

    nav li>ul{
        display:none;

        }
    
    nav li:hover>ul{
        display:block;
        position:absolute;
        background-color: #597596;
    }
         
    nav ul li a{
        font-size: 15px;
    }

    li a:hover, li a.active{
        background-color: #53667c;
        color: rgb(251, 250, 252);
    }
    #check:checked ~ ul{
        left:0;
    }
    #check:checked ~ ul ul{
        left:0;
    }
    
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


.contenedor-in{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 20px 0;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgb(45, 51, 136);
}

.icon{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translateX(0);
}



.titulo{
    font-size: 45px;
    margin-bottom: -200px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Objetivos*/

.subtitulo{
    color: #7d58d4;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-servicio img{
    width: 40%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 30px;
    color: #9f8ad0;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: 700;
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.contenedor-gale{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.img-galeria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.imagen-light{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.534);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.agregar-imagen{
    width: 60%;
    transform: scale(0);
    border-radius: 10px;
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.show{
    transform: translate(0);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

.cont-expert img{
    display: center;
    width: 40%;
    margin: 0;
    
    border-radius: 60%;
}

.n-expert{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

/* Caja de contactanos*/
.form{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    }
    .form_container{
      width: 100%;
      display: grid;
      grid-gap: 1em;
      grid-auto-columns: 100%;
    }
    .form_titulo{
      text-align: center;
      font-size: 1.6rem;
      margin-bottom: .4em;
    }
    
    .form_input{
      font-family: inherit;
      font-size: 1rem;
      padding: .5em 1em;
      outline: none;
      border: none;
      border: 1px solid #bbb0b0;
      border-radius: 0.2em;
    }
    
    .form__input--message{
      resize: none;
      padding: 1.3em 1em;
      
    }
    
    
    .form_04{
      font-family: inherit;
      font-size: 1rem;
      background-color:#a0b0da;
      color: #fff;
      border: none;
      font-weight: 300;
      padding: .5em 0;
      border-radius: .1em;
      cursor: pointer;
      font-weight: 400;
    
    }

    .form_05{
        font-family: inherit;
        font-size: 1rem;
        background-color:#a0b0da;
        color: #fff;
        border: none;
        font-weight: 300;
        padding: .3em 0;
        border-radius: .1em;
        cursor: pointer;
        font-weight: 400;
      
      }
@media (max-width:450px) {
    .foms{
        padding: 3.5em 1em;
    }  
}

/* imagenes*/

.contenedor-ima{
    justify-content: space-evenly;
    display: grid;
    margin: 70px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
  }
/* Pie de página*/


footer{
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, hsla(180, 1%, 64%, 0.459), hsla(180, 1%, 31%, 0.459)), url(../Portadaenca.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,hsla(180, 1%, 64%, 0.459),   hsla(180, 2%, 22%, 0.459)), url(../Portadaenca.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 0.1px;
   
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 20px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#764ba2;
}

@media screen and (max-width: 800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }
    
    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .img-galeria{
        width: 45%;
    }
    
    .agregarImagen{
        width: 80%;
    }

    
    .cont-expert{
        width: 80%;
    }
    
    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
    
}


@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .icon{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    
}

.contenedor-contacto{
    width: 400px;
    margin:  auto;
    background-color: #E2ECEE;
}


/*Botón de arriba */
.ir-arriba{
    display:none;
    background-repeat:no-repeat;
    font-size:20px;
    color:black;
    cursor:pointer;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:2;
  }

  /*iframe */
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}